<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">


	<insert id="insertMember" parameterType="memberDTO"  
	useGeneratedKeys="true"
    keyProperty="id">
		insert into member (id, pw, name, tel)
		values (#{id}, #{pw}, #{name}, #{tel})
	</insert>
	
	
	<select id="loginMember" parameterType="memberDTO" resultType="memberDTO">
		select * from member 
		where id = #{id}
	</select>
	
	
	<update id="updateMember" parameterType="memberDTO">
		update member 
		set
		name = #{name},
		tel = #{tel}
		where userId = #{userId}
	</update>
	
	
	<update id="updatePassword" parameterType="memberDTO">
		update member 
		set pw = #{pw}
		where userId = #{userId}
	</update>
	
	
	<delete id="deleteMember" parameterType="int"> 
		delete from member where userId = #{userId} 
	</delete>
	
	
	<select id="selectMember" parameterType="int" resultType="memberDTO">
		select * from member
		where userId = #{userId}
	</select>
	
	
	<select id="count" parameterType="String" resultType="int">
		select count(userId) from member
		where name = ${name}
	</select>
	
	
	<select id="selectList" resultType="memberDTO">
		select * from member 
	</select>
	
	
	
	
	
</mapper>











